@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--bg: #0f172a;
}


html, body, #root { height: 100%; }


/* small utility for card shadow */
.card {
@apply bg-white/90 dark:bg-slate-900 shadow-lg rounded-2xl p-4;
}